<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Security Tutorial</title>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/index.css"
	th:href="@{/css/index.css}">

</head>

<!-- <body> -->
<!-- 	<div class="modal-dialog text-center">
		<div class="col-sm-8 main-section"> -->
			<!-- <div class="modal-content"> -->
				<FRAMESET ROWS="100%,*" border="2">
					<FRAME SRC="header" NAME=header SCROLLING=NO border="2">
					<!-- <FRAMESET COLS="20%,*" border="2">
						<FRAME SRC="admin/listmenu" NAME="left" border="2">
						<FRAMESET Rows="*,7%">
							<FRAME SRC="admin/contacts.html" NAME="right">
							<FRAME SRC="admin/footer.html" NAME="footer" SCROLLING=NO>
						</FRAMESET>
					</FRAMESET> -->

				</FRAMESET>

<!-- 
				<table border="1" cellpadding="2" cellspacing="2" align="center">
					<tr>
						<td height="30" colspan="2"><tiles:insertAttribute
								name="header" /></td>
					</tr>
					<tr>
						<td height="250"><tiles:insertAttribute name="menu" /></td>
						<td width="350"><tiles:insertAttribute name="body" /></td>
					</tr>
					<tr>
						<td height="30" colspan="2"><tiles:insertAttribute
								name="footer" /></td>
					</tr>
				</table>
			</div> -->
		<!-- </div>
	</div> -->
<!-- </body> -->
</html>
